body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    color: greenyellow;
  }
  h1{
    color: white;
    text-align: center;
  }
  h2{
   color: white;
   text-align: right;   
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .lista1{
    color:white;
  }
  .lista2{
    color:red;
  }
  a:link{ 
    text-decoration:none;
  }
  .icones{
    padding: 24px;
    box-align: center;
    float: left;
  } 
  li a {
    display: block;
    color: #00ff00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: system;
  }
  li a:hover {
    background-color: #111;
  }
  .menu{
    float: left;
  }
  li a:hover {
    background-color: #111;
  }
  .footer {
    position: fixed;
    left: 50;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }